#albums {
    width: 30%;
    padding: 1 2;
    background: $panel;
}

#tracks {
    width: 70%;
    padding: 1 2;
    background: $surface;
}

#player {
    height: 5;
    padding: 1 2;
    background: $surface-darken-1;
}

ProgressBar {
    width: 100%;
}

ListItem {
    layout: horizontal;
    height: 1;
}

ListItem > Horizontal {
    width: 100%;
}

.track-name {
    width: 80%;
    content-align: left middle;
}

.track-length {
    width: 20%;
    content-align: right middle;
}
